* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
}

html {
	scroll-behavior: smooth;
}

body {
	font-weight: 400;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

main {
	width: 100%;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	line-height: 1;
}