* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
}

html {
	scroll-behavior: smooth;
}

body {
	font-weight: 400;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

main {
	width: 100%;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $mainTextGray;
	margin: 0;
	padding: 0;
	line-height: 136%;
}

ol,
ul {
	font-family: $gothamPro;
	list-style: none;
	padding: 0;
	color: $mainTextGray;
	margin: 0;
}

a {
	font-family: $gothamPro;
	color: $mainTextGray;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;

	@media screen and (max-width: $max-extra-desktop-width) {
		font-size: 16px;
	}

	@media screen and (max-width: $max-desktop-width) {
		font-size: 15px;
	}

	@media (max-width: $max-tablet-width) {
		font-size: 18px;
	}
}

a.link-btn {
	&:hover {
		font-weight: 500;
	}

	&:active {
		font-weight: 500;
		border: none;
	}
}

#nav-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(86, 86, 86, 0.42);
	z-index: 1;
}

h1 {
	font-family: $malgunGothic;
	font-size: 36px;
	font-weight: 400;
	line-height: 135%;
	color: $mainTextGray;

	@media screen and (max-width: $max-extra-desktop-width) {
		font-size: 32px;
	}

	@media screen and (max-width: $max-tablet-width) {
		font-size: 24px;
	}
}

h2 {
	font-family: $notoSerif;
	font-size: 48px;
	font-weight: 700;
	line-height: 135%;
	color: $mainTextGray;
	text-transform: uppercase;

	@media screen and (max-width: $max-extra-desktop-width) {
		font-size: 38px !important;
	}

	@media screen and (max-width: $max-desktop-width) {
		font-size: 30px !important;
}

	@media screen and (max-width: $max-tablet-width) {
		font-size: 24px !important;
		color: $white;
	}
}

h3 {
	font-family: $garamond;
	font-size: 56px;
	font-weight: 400;
	color: $mainTextGray;

	@media screen and (max-width: $max-ultra-desktop-width) {
		font-size: 44px;
	}

	@media screen and (max-width: $max-extra-desktop-width) {
		font-size: 40px;
	}

	@media screen and (max-width: $max-tablet-width) {
		font-size: 24px;
	}
}

p {
	font-family: $gothamPro;
	font-size: 24px;
	font-weight: 300;

	@media screen and (max-width: $max-ultra-desktop-width) {
		font-size: 20px;
	}

	@media screen and (max-width: $max-extra-desktop-width) {
			font-size: 18px;
	}

	@media screen and (max-width: $max-desktop-width) {
			font-size: 16px;
	}

	@media screen and (max-width: $max-tablet-width) {
			font-size: 14px;
	}
}

.p-bold {
	font-weight: 400;
}

.svg-icon {
	svg {
		border-radius: 50%;

		@media screen and (max-width: $max-extra-desktop-width) {
			width: 24px;
			height: 24px;
		}

		&:hover {
			box-shadow: 0px 4px 12px rgba(86, 86, 86, 0.92);
		}

		&:active path {
			fill: #3B3B3B;
		}
	}

	&__instagram {
		svg:active path {
			fill: $white;
		}

		svg:active circle {
			fill: #3B3B3B;
		}
	}
}

.button {
	cursor: pointer;
	font-family: $gothamPro;
	font-weight: 400;
	font-size: 18px;
	line-height: 136%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 56px;
	color: $white;
	background: $mainTextGray;
	border: none;
	max-width: fit-content;

	&:hover {
		box-shadow: 0px 8px 24px rgba(86, 86, 86, 0.42);
	}

	&:active {
		background: $buttonActiveColor;
	}

	@media screen and (max-width: $max-extra-desktop-width) {
		padding: 12px 48px;
	}

	@media (max-width: $max-tablet-width) {
		font-size: 16px;
	}
}

input, textarea {
	width: 478px;
	font-family: $gothamPro;
	font-weight: 400;
	font-size: 18px;
	line-height: 17px;
	color: $mainTextGray;
	background: $white;
	border: 1px solid $mainTextGray;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 48, 71, 0.08);
	padding: 20px;

	&::placeholder {
		font-family: $gothamPro;
		font-weight: 400;
		font-size: 18px;
		line-height: 17px;
		color: $placeholderTextGray;
	}

	&:hover, &:active {
		border: 2px solid $mainTextGray;
		box-sizing: border-box;
		box-shadow: inset 0px 4px 4px rgba(0, 48, 71, 0.08);
	}

	&.input-phone {
		max-width: 342px;
		padding-left: 94px;
	}

	@media screen and (max-width: $max-extra-desktop-width) {
		font-size: 16px;
		width: 340px;

		&::placeholder {
			font-size: 16px;
		}

		&.input-phone {
			max-width: 301px;
		}
	}

	@media screen and (max-width: $max-tablet-width) {
		width: 100%;
		padding: 12px 16px;

		&.input-phone {
			max-width: unset;
		}
	}

	@media screen and (max-width: $max-mobile-width) {
		&.input-phone {
			padding-left: 64px;
		}
	}
}

input {
	height: 56px;

	@media screen and (max-width: $max-extra-desktop-width) {
		height: 46px;
	}
}

textarea {
	height: 91px;
	resize: none;

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
  scrollbar-width: none;

	@media screen and (max-width: $max-tablet-width) {
		height: 112px;
	}
}

.label-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: $white;
	border: 1px solid $mainTextGray;
	box-sizing: border-box;

	svg {
		display: none;
	}
}

.label-text {
	font-family: $gothamPro;
	font-weight: 300;
	font-size: 12px;
	padding-left: 12px;
	line-height: 135%;
	color: $mainTextGray;

	@media screen and (max-width: $max-mobile-width) {
		width: 100%;
	}
}

.warning-message {
	display: none;
	font-family: $gothamPro;
	font-weight: 400;
	font-size: 12px;
	color: $mainTextRed;
	position: absolute;
	bottom: 0px;

	@media (max-width: $max-tablet-width) {
		font-size: 10px;
	}
}

.warning-message-textarea {
	display: none;
	font-family: $gothamPro;
	font-weight: 400;
	font-size: 12px;
	color: #A88C74;
	position: absolute;
	bottom: 0px;

	@media (max-width: $max-tablet-width) {
		font-size: 10px;
	}
}

.warning-frame {
	background: $white !important;
	border: 2px solid $mainTextRed !important;
	box-sizing: border-box !important;
	box-shadow: inset 0px 4px 4px rgba(0, 48, 71, 0.08) !important;
}

.disabled-input {
	max-width: 478px;
	width: 100%;
	font-family: $gothamPro;
	font-weight: 400;
	font-size: 18px;
	line-height: 17px;
	color: $mainTextGray;
	background: $formBgDisabled;
	border: 1px solid $mainTextGray;
	box-sizing: border-box;
	box-shadow: inset 0px 4px 4px rgba(0, 48, 71, 0.08);
	padding: 20px;

	&::placeholder {
		font-family: $gothamPro;
		font-weight: 400;
		font-size: 18px;
		line-height: 17px;
		color: $placeholderTextGray;
	}
}