.container {
  padding: 0 148px;

  @media screen and (max-width: $max-extra-desktop-width) {
    padding: 0 100px;
  }

  @media screen and (max-width: $max-desktop-width) {
    padding: 0 80px;
  }

  @media screen and (max-width: $max-tablet-width) {
    padding: 0 60px;
  }

  @media screen and (max-width: $max-landscape-width) {
    padding: 0 40px;
  }

  @media screen and (max-width: $max-mobile-width) {
    padding: 0 24px;
  }
}