$white: #ffffff;
$mainTextGray: #565656;
$mainBgGray: #EFEFEF;

$formTextGray: #58514A;
$placeholderTextGray: #D2D2D2;

//Fonts
$garamond: 'EB Garamond', serif;
$notoSerif: 'Noto Serif', serif;
$malgunGothic: 'Malgun Gothic', serif;
$gothamPro: 'Gotham Pro', serif;

//Breakpoints
$max-extra-lg-desktop-width: 1439.98px;
$max-desktop-width: 1279.98px;
$max-tablet-width: 991.98px;
$max-landscape-width: 767.98px;
$max-mobile-width: 575.98px;
