footer {
  background: $mainBgGray;

  nav {

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      height: 96px;

      @media screen and (max-width: $max-desktop-width) {
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding: 36px 0 42px;

        li {

          &:nth-child(1) {
            order: 7;

            a {
              font-size: 14px;
            }
          }

          &:nth-child(2) {
            order: 1;
          }

          &:nth-child(3) {
            order: 2;
          }

          &:nth-child(4) {
            order: 4;
          }

          &:nth-child(5) {
            order: 5;
          }

          &:nth-child(6) {
            order: 6;
          }

          &:nth-child(7) {
            order: 3;
          }
        }

        @media screen and (max-width: $max-landscape-width) {
          grid-template-columns: repeat(2, 1fr);

          li {

            &:nth-child(4) {
              order: 3;
            }
  
            &:nth-child(5) {
              order: 4;
            }

            &:nth-child(6) {
              order: 5;
            }

            &:nth-child(7) {
              order: 6;
            }
          }
        }

        @media screen and (max-width: $max-mobile-width) {
          grid-template-columns: repeat(1, 1fr);

          .footer-links {
            display: flex;
          }

          li {
            &:nth-child(6) {
              order: 5;
              display: none;
            }
          }
        }
      }

      li {

        a {
          position: relative;
          border-bottom: 1px solid rgba(86, 86, 86, 0.3);
        }

        &:first-child a {
          border: none;
        }

        .lang-switcher {
          a {
            position: relative;
            margin-right: 15px;
            border-bottom: 1px solid rgba(86, 86, 86, 0.3);
            font-weight: 300;
    
            &:last-child {
              margin-right: 0;
              
              &::before {
                content: '';
                position: absolute;
                left: -7px;
                top: 1px;
                width: 1px;
                height: 16px;
                background-color: $mainTextGray;
              }
            }
          }
    
          .lang-switcher__ru {
            font-weight: 500;
          }
        }

        .social-links {
          a {
            margin-right: 20px;
            font-size: 0;
            border: none;
    
            @media screen and (max-width: $max-extra-desktop-width) {
              margin-right: 16px;
            }
    
            &:last-child {
              margin-right: 0;
            }
          }
        }

        .lang-switcher__mobile {
          display: none;

          @media screen and (max-width: $max-mobile-width) {
            display: flex;
            padding-left: 48px;
          }
        }
      }
    }
  }
}