header {

  .container {
    display: flex;
    justify-content: space-between;

    nav {
      
      ul {
        display: flex;

        li {
          padding-right: 18px;

          a {
            position: relative;
          }

          a:after {
            content: "";
            transition: ease-in-out all 0.2s;
            background: url(../../images/svg/nav-arrow.svg) center center/contain;
            pointer-events: none;
            background-repeat: no-repeat;
            width: 10px;
            height: 100%;
            display: inline-flex;
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }
}



// .header__nav ul li:hover a:after {
//     transform: rotate(180deg);
// }

// .header .nav-menu>li:hover>a:after {
//   content: "";
//   transition: ease-in-out all 0.2s;
//   background: url(../../assets-marketing-com/images/arrows/arrow_red.svg) center center/contain;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   width: 12px;
//   height: 100%;
//   display: inline-flex;
//   position: absolute;
//   right: 0;
// }