header {
  background: rgba(255, 255, 255, 0.92);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: $max-tablet-width) {
    background: $white;
    position: fixed;
  }

  .container {

    .header__desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 96px;

      @media screen and (max-width: $max-tablet-width) {
        display: none;
      }
    }

    nav {
      max-width: 804px;
      width: 100%;

      @media screen and (max-width: $max-ultra-desktop-width) {
        max-width: 640px;
      }

      @media screen and (max-width: $max-extra-desktop-width) {
        max-width: 590px;
      }

      @media screen and (max-width: $max-desktop-width) {
        max-width: 480px;
      }

      @media screen and (max-width: $max-tablet-width) {
        max-width: unset;
        width: unset;
      }

      ul {
        display: flex;
        justify-content: space-between;

        li {
          padding-right: 18px;
          position: relative;

          a {
            position: relative;
            border-bottom: 1px solid rgba(86, 86, 86, 0.3);

            // &:active {
            //   font-weight: 500;
            //   border: none;
            // }
          }

          .drop-down {
            &:after {
              content: "";
              transition: ease-in-out all 0.2s;
              background: url(../images/svg/nav-arrow.svg) center center/contain;
              pointer-events: none;
              background-repeat: no-repeat;
              width: 10px;
              height: 100%;
              display: inline-flex;
              position: absolute;
              right: -18px;
            }
          }

          &:hover .drop-down:after {
            transform: rotate(180deg);
          }

          &:hover {
            .sub-menu {
              display: block;
            }
          }

          .sub-menu {
            display: none;
            position: absolute;
            top: 58px;
            background: rgba(255, 255, 255, 0.92);
            width: 282px;
            padding: 24px;

            li {
              padding-bottom: 24px;
              padding-right: 0;

              &:last-child {
                padding-bottom: 0;
              }
            }

            &:after {
              content: "";
              position: absolute;
              cursor: unset;
              width: 100%;
              height: 37px;
              top: -37px;
              left: 0;
            }
          }
        }
      }
    }

    .lang-switcher {
      a {
        position: relative;
        margin-right: 15px;
        border-bottom: 1px solid rgba(86, 86, 86, 0.3);
        font-weight: 300;

        &:last-child {
          margin-right: 0;
          
          &::before {
            content: '';
            position: absolute;
            left: -7px;
            top: 1px;
            width: 1px;
            height: 16px;
            background-color: $mainTextGray;
          }
        }

        &:hover {
          font-weight: 500;
        }
      
        &:active {
          font-weight: 500;
          border: none;
        }
      }

      .lang-switcher__ru {
        font-weight: 500;
      }
    }

    .social-links {
      a {
        margin-right: 20px;
        font-size: 0;

        @media screen and (max-width: $max-extra-desktop-width) {
          margin-right: 16px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .header__mobile {
      display: none;

      @media screen and (max-width: $max-tablet-width) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
      }

      nav {
        display: none;
        z-index: 2;

        .nav-mobile__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 24px;
          width: 100%;
          height: 64px;
          background: linear-gradient(85.12deg, rgba(228, 228, 228, 0) 0%, #EFEFEF 100%);
        }

        ul {
          position: relative;
          margin: 0;
          padding: 4px 24px 36px;

          li {
            padding: 32px 0 0;

            &:first-child {
              padding: 20px 0 0;
            }
          }

          ul {
            padding: 0 10px;

            li {
              padding: 20px 0 0;
            }
          }

          a {
            border: none;
          }
        }

        &>ul::after {
          content: "";
          position: absolute;
          left: 24px;
          bottom: 0;
          width: 132px;
          height: 1px;
          background-color: #565656;
        }

        .lang-switcher {
          padding: 36px 24px;
        }
        
        .social-links {
          padding: 0 24px;
        }

        .copyright-text {
          font-size: 14px;
          font-weight: 400;
          font-family: $gothamPro;
          line-height: 13px;
          padding: 48px 24px 16px;
        }
      }

      label {

        svg {
          max-width: 24px;
          max-height: 18px;
          cursor: pointer;
          visibility: hidden;
          display: none;
          margin: 15px;
          position: absolute;
          left: 0;
          top: 10px;

          @media (max-width: $max-tablet-width) {
              display: block;
              visibility: visible;
          }
        }
      }

      .header-toggle {
        visibility: hidden;
        display: none;

        &~nav {
          flex-direction: column;
          text-align: end;
        }

        &:checked~.mobile-title,
        &:checked~.social-links {
          display: none;
        }
    
        &:checked~nav {
          display: block;
          color: $mainTextGray;
          background-color: $white;
          font-weight: 500;
          position: absolute;
          top: 0;
          left: 0;
          text-align: start;
          flex-direction: column;
          width: 75%;

          ul {
            flex-direction: column;
          }
        }
      }

      .sub-menu__mobile {
        flex-direction: column;

        a {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}