.modal {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0,0,0,.4);

  &-content {
    z-index: 10;
    background-color: $mainBgGray;
    margin: 50px auto 10px;
    border: 1px solid #888;
    max-width: 606px;
    width: 100%;

    @media screen and (max-width: $max-extra-desktop-width) {
      max-width: 414px;
      margin: 30px auto 10px;
    }

    @media screen and (max-width: $max-mobile-width) {
      max-width: 327px;
    }

    &-close {
      float: right;
      padding: 29px 29px 21px 21px;

      @media screen and (max-width: $max-extra-desktop-width) {
        padding: 16px 16px 21px 21px;
      }

      @media screen and (max-width: $max-tablet-width) {
        padding: 25px 25px 5px 10px;
      }
    }

    .popup-form {
      max-width: 606px;
      width: 100%;
      height: 100%;
      background: linear-gradient(86.18deg, $mainBgGray 0%, $mainBgGray 101.78%);
      padding: 64px;
      cursor: auto;

      @media screen and (max-width: $max-extra-desktop-width) {
        max-width: 414px;
        padding: 36px;
      }

      @media screen and (max-width: $max-tablet-width) {
        padding: 24px 20px;
      }

      @media screen and (max-width: $max-mobile-width) {
        max-width: 327px;
      }

      input, textarea {
        margin: 16px 0;

        @media screen and (max-width: $max-extra-desktop-width) {
          margin: 12px 0;
        }
      }

      &-name,
      &-phone,
      &-email,
      &-textarea,
      &-chbx {
        position: relative;
      }

      &-title {
        span {
          font-family: $garamond;
          font-size: 36px;
          font-weight: 400;
          line-height: 135%;
          color: $formTextGray;

          @media screen and (max-width: $max-extra-desktop-width) {
            font-size: 28px;
          }

          @media screen and (max-width: $max-tablet-width) {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      &-chbx {
        display: flex;
        align-items: center;
        padding: 10px 0 16px;

        input {
          display: none;

          &:checked + label {
            svg {
              display: block;
              width: 13px;
              height: 10px;
              top: 2px;
              left: 0;
              position: relative;
            }
          }
        }

        @media screen and (max-width: $max-extra-desktop-width) {
          padding: 0px 0 20px;
        }

        @media screen and (max-width: $max-tablet-width) {
          padding: 0 0 12px;
        }
      }

      &-phone {
        position: relative;

        .input-world {
          position: absolute;
          left: 20px;
          top: 28px;

          &:after {
            content: "";
            transition: ease-in-out all 0.2s;
            background: center center/contain no-repeat url(../images/svg/nav-arrow.svg);
            pointer-events: none;
            width: 10px;
            height: 100%;
            display: inline-flex;
            position: absolute;
            right: -18px;
          }

          &:active {
            &:after {
              transform: rotate(180deg);
            }
          }

          @media screen and (max-width: $max-extra-desktop-width) {
            left: 16px;

            svg {
              width: 24px;
              height: 24px;
            }
          }

          @media screen and (max-width: $max-tablet-width) {
            top: 24px;
          }
        }
      }

      &-button {
        padding: 8px 0 16px;

        @media screen and (max-width: $max-extra-desktop-width) {
          padding: 12px 0 12px;
        }
      }
    }
  }
}