.examples__block 
  .examples__block_content
    .examples__block_content-text
      .examples__block_content-text--title
        h3 Юлия
        p Бостон, 25 лет
      .examples__block_content-text--subtitle
        p Немного о человеке и его запросе, роде деятельности, образе жизни. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .examples__block_content-text--description
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    .examples__block_content-images.examples__block_content-images-second 
      .examples__block_content-images--block.examples__block_content-images--block-one
        img(src="./assets/images/webp/examples-first-1.webp" alt="Примеры образов image")
      .examples__block_content-images--block  
        img(src="./assets/images/webp/examples-first-2.webp" alt="Примеры образов image")
      .examples__block_content-images--block  
        img(src="./assets/images/webp/examples-first-4.webp" alt="Примеры образов image")
        img(src="./assets/images/webp/examples-first-5.webp" alt="Примеры образов image")

.examples__block_mobile
  input#checkbox-title-julia-boston(type="checkbox")
  label.examples-block-title-mobile(for="checkbox-title-julia-boston") Юлия&nbsp;<span>| Бостон, 25 лет</span>
  .examples__block 
    .examples__block_content
      .examples__block_content-text
        .examples__block_content-text--subtitle
          p Немного о человеке и его запросе, роде деятельности, образе жизни. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        .examples__block_content-text--description
          p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      .examples__block_content-images.examples__block_content-images-first
        .examples__block_content-images--block
          p Чтобы увеличить фото — нажмите на него.
          img(src="./assets/images/webp/examples-first-2.webp" alt="Примеры образов image")
          img(src="./assets/images/webp/examples-first-4.webp" alt="Примеры образов image") 
        .examples__block_content-images--block 
          img(src="./assets/images/webp/examples-first-1.webp" alt="Примеры образов image")
          img(src="./assets/images/webp/examples-first-3.webp" alt="Примеры образов image")