.modal#modal-popup-gallery
  .modal-content

    .swiper
      .swiper-wrapper
        .swiper-slide
          img(src="./assets/images/webp/examples-first-1.webp" alt="Примеры образов image")
        .swiper-slide
          img(src="./assets/images/webp/examples-first-2.webp" alt="Примеры образов image")
        .swiper-slide
          img(src="./assets/images/webp/examples-first-3.webp" alt="Примеры образов image")
        .swiper-slide
          img(src="./assets/images/webp/examples-first-4.webp" alt="Примеры образов image")
        .swiper-slide
          img(src="./assets/images/webp/examples-first-5.webp" alt="Примеры образов image")

      //- .swiper-pagination

      .swiper-button-prev
      .swiper-button-next