.modal-gallery#modal-popup-gallery1
  .modal-gallery-content

    .modal-gallery-content-pagination
      p#pagin-gallery1
    .modal-gallery-content-close1
      svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41L17.59 5Z' fill='white')

    .swiper
      .swiper-wrapper
        .swiper-slide
          img(src="../assets/images/webp/examples-first-1.webp" data-gallery1="1" alt="Примеры образов image")
        .swiper-slide
          img(src="../assets/images/webp/examples-first-2.webp" data-gallery1="2" alt="Примеры образов image")
        .swiper-slide
          img(src="../assets/images/webp/examples-first-3.webp" data-gallery1="3" alt="Примеры образов image")
        .swiper-slide
          img(src="../assets/images/webp/examples-first-4.webp" data-gallery1="4" alt="Примеры образов image")
        .swiper-slide
          img(src="../assets/images/webp/examples-first-5.webp" data-gallery1="5" alt="Примеры образов image")

      .swiper-button-prev.swiper-button-prev1
      .swiper-button-next.swiper-button-next1