.services-offline__content#offline
  .services-offline__content_title
    h2 Services&nbsp;<br>offline
    p Only
    p.services-offline-place
      svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M16.0003 28C14.3162 26.5635 12.7553 24.9887 11.3337 23.292C9.20033 20.744 6.66699 16.9494 6.66699 13.3334C6.66607 11.4867 7.213 9.68117 8.23858 8.14541C9.26416 6.60965 10.7223 5.41265 12.4284 4.7059C14.1345 3.99916 16.012 3.81443 17.8232 4.1751C19.6343 4.53577 21.2978 5.42562 22.603 6.73204C23.472 7.59719 24.1608 8.62609 24.6295 9.75921C25.0982 10.8923 25.3376 12.1071 25.3337 13.3334C25.3337 16.9494 22.8003 20.744 20.667 23.292C19.2454 24.9887 17.6844 26.5635 16.0003 28ZM16.0003 9.33337C14.9395 9.33337 13.922 9.7548 13.1719 10.5049C12.4218 11.2551 12.0003 12.2725 12.0003 13.3334C12.0003 14.3942 12.4218 15.4117 13.1719 16.1618C13.922 16.9119 14.9395 17.3334 16.0003 17.3334C17.0612 17.3334 18.0786 16.9119 18.8288 16.1618C19.5789 15.4117 20.0003 14.3942 20.0003 13.3334C20.0003 12.2725 19.5789 11.2551 18.8288 10.5049C18.0786 9.7548 17.0612 9.33337 16.0003 9.33337Z' fill='#565656')
      span Boston, USA

  .services-offline__content_info

    .services__block
      .services__block_title
        h3 Разбор гардероба
      .services__block_description
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p.before-list Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        ul 
          li
            p Lorem ipsum dolor sit amet
          li
            p consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          li
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      .services__block_frame
      .services__block_conditions
        ul 
          li
            svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M15.9997 5.33337C10.1092 5.33337 5.33301 10.1096 5.33301 16C5.33301 21.8905 10.1092 26.6667 15.9997 26.6667C21.8902 26.6667 26.6663 21.8905 26.6663 16C26.6663 10.1096 21.8902 5.33337 15.9997 5.33337ZM15.9997 24.8572C11.1092 24.8572 7.14253 20.8905 7.14253 16C7.14253 11.1096 11.1092 7.1429 15.9997 7.1429C20.8902 7.1429 24.8568 11.1096 24.8568 16C24.8568 20.8905 20.8902 24.8572 15.9997 24.8572Z' fill='#565656')
              path(d='M21.4594 19.9562L17.0031 16.7344V9C17.0031 8.8625 16.8906 8.75 16.7531 8.75H15.25C15.1125 8.75 15 8.8625 15 9V17.6062C15 17.6875 15.0375 17.7625 15.1031 17.8094L20.2719 21.5781C20.3844 21.6594 20.5406 21.6344 20.6219 21.525L21.5156 20.3062C21.5969 20.1906 21.5719 20.0344 21.4594 19.9562Z' fill='#565656')
            p 1,5 часа
          li
            svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M4 8V24H28V8H4ZM26.5 22.6667H5.5V16H26.5V22.6667ZM26.5 12H5.5V9.33333H26.5V12Z' fill='#565656')
              path(d='M19.001 19.7778H23.501V21.1852H19.001V19.7778Z' fill='#565656')
              path(d='M7 19.7778H16V21.1852H7V19.7778Z' fill='#565656')
            p Банковская карта / Paypal
      .services__block_frame
      .services__block_price
        h3 12 000 рублей
      .services__block_button
        button(data-popup-open="Разбор гардероба").button Записаться

    .services__block
      .services__block_title
        h3 Совместный&nbsp;<br>шопинг
      .services__block_description
        ul 
          li
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          li
            p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          li
            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          li
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          li
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      .services__block_frame
      .services__block_conditions
        ul 
          li
            svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M15.9997 5.33337C10.1092 5.33337 5.33301 10.1096 5.33301 16C5.33301 21.8905 10.1092 26.6667 15.9997 26.6667C21.8902 26.6667 26.6663 21.8905 26.6663 16C26.6663 10.1096 21.8902 5.33337 15.9997 5.33337ZM15.9997 24.8572C11.1092 24.8572 7.14253 20.8905 7.14253 16C7.14253 11.1096 11.1092 7.1429 15.9997 7.1429C20.8902 7.1429 24.8568 11.1096 24.8568 16C24.8568 20.8905 20.8902 24.8572 15.9997 24.8572Z' fill='#565656')
              path(d='M21.4594 19.9562L17.0031 16.7344V9C17.0031 8.8625 16.8906 8.75 16.7531 8.75H15.25C15.1125 8.75 15 8.8625 15 9V17.6062C15 17.6875 15.0375 17.7625 15.1031 17.8094L20.2719 21.5781C20.3844 21.6594 20.5406 21.6344 20.6219 21.525L21.5156 20.3062C21.5969 20.1906 21.5719 20.0344 21.4594 19.9562Z' fill='#565656')
            p 1 месяц
          li
            svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M4 8V24H28V8H4ZM26.5 22.6667H5.5V16H26.5V22.6667ZM26.5 12H5.5V9.33333H26.5V12Z' fill='#565656')
              path(d='M19.001 19.7778H23.501V21.1852H19.001V19.7778Z' fill='#565656')
              path(d='M7 19.7778H16V21.1852H7V19.7778Z' fill='#565656')
            p Банковская карта / Paypal
      .services__block_frame
      .services__block_price
        h3 35 000 рублей
      .services__block_button
        button(data-popup-open="Совместный шопинг").button Записаться

    .services__block_empty



    .services__block_mobile
      input#checkbox-title-wardrobe(type="checkbox")
      label.services-block-title-mobile(for="checkbox-title-wardrobe") Разбор гардероба
      .services__block
        .services__block_description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          p.before-list Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          ul 
            li
              p Lorem ipsum dolor sit amet
            li
              p consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            li
              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        .services__block_frame
        .services__block_conditions
          ul 
            li
              svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M15.9997 5.33337C10.1092 5.33337 5.33301 10.1096 5.33301 16C5.33301 21.8905 10.1092 26.6667 15.9997 26.6667C21.8902 26.6667 26.6663 21.8905 26.6663 16C26.6663 10.1096 21.8902 5.33337 15.9997 5.33337ZM15.9997 24.8572C11.1092 24.8572 7.14253 20.8905 7.14253 16C7.14253 11.1096 11.1092 7.1429 15.9997 7.1429C20.8902 7.1429 24.8568 11.1096 24.8568 16C24.8568 20.8905 20.8902 24.8572 15.9997 24.8572Z' fill='#565656')
                path(d='M21.4594 19.9562L17.0031 16.7344V9C17.0031 8.8625 16.8906 8.75 16.7531 8.75H15.25C15.1125 8.75 15 8.8625 15 9V17.6062C15 17.6875 15.0375 17.7625 15.1031 17.8094L20.2719 21.5781C20.3844 21.6594 20.5406 21.6344 20.6219 21.525L21.5156 20.3062C21.5969 20.1906 21.5719 20.0344 21.4594 19.9562Z' fill='#565656')
              p 1,5 часа
            li
              svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M4 8V24H28V8H4ZM26.5 22.6667H5.5V16H26.5V22.6667ZM26.5 12H5.5V9.33333H26.5V12Z' fill='#565656')
                path(d='M19.001 19.7778H23.501V21.1852H19.001V19.7778Z' fill='#565656')
                path(d='M7 19.7778H16V21.1852H7V19.7778Z' fill='#565656')
              p Банковская карта / Paypal
        .services__block_frame
        .services__block_price
          h3 12 000 рублей
        .services__block_button
          button(data-popup-open="Разбор гардероба").button Записаться

    .services__block_mobile
      input#checkbox-title-shoping-together(type="checkbox")
      label.services-block-title-mobile(for="checkbox-title-shoping-together") Совместный шопинг
      .services__block
        .services__block_description
          ul 
            li
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            li
              p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            li
              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            li
              p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            li
              p мы решаем, оставлять вещь или нет, как комбинировать вещи, что можно улучшить
        .services__block_frame
        .services__block_conditions
          ul 
            li
              svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M15.9997 5.33337C10.1092 5.33337 5.33301 10.1096 5.33301 16C5.33301 21.8905 10.1092 26.6667 15.9997 26.6667C21.8902 26.6667 26.6663 21.8905 26.6663 16C26.6663 10.1096 21.8902 5.33337 15.9997 5.33337ZM15.9997 24.8572C11.1092 24.8572 7.14253 20.8905 7.14253 16C7.14253 11.1096 11.1092 7.1429 15.9997 7.1429C20.8902 7.1429 24.8568 11.1096 24.8568 16C24.8568 20.8905 20.8902 24.8572 15.9997 24.8572Z' fill='#565656')
                path(d='M21.4594 19.9562L17.0031 16.7344V9C17.0031 8.8625 16.8906 8.75 16.7531 8.75H15.25C15.1125 8.75 15 8.8625 15 9V17.6062C15 17.6875 15.0375 17.7625 15.1031 17.8094L20.2719 21.5781C20.3844 21.6594 20.5406 21.6344 20.6219 21.525L21.5156 20.3062C21.5969 20.1906 21.5719 20.0344 21.4594 19.9562Z' fill='#565656')
              p 1 месяц
            li
              svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M26 22.6667H6C5.46973 22.6662 4.96133 22.4631 4.58637 22.1021C4.21141 21.741 4.00053 21.2514 4 20.7408V7.2593C4.00053 6.74867 4.21141 6.2591 4.58637 5.89803C4.96133 5.53696 5.46973 5.33388 6 5.33337H26C26.5303 5.33388 27.0387 5.53696 27.4136 5.89803C27.7886 6.2591 27.9995 6.74867 28 7.2593V20.7408C27.9992 21.2513 27.7882 21.7408 27.4133 22.1018C27.0384 22.4628 26.5302 22.6659 26 22.6667ZM6 7.2593V20.7408H26V7.2593H6Z' fill='#565656')
                path(d='M1.33301 25.3334H30.6663V26.6667H1.33301V25.3334Z' fill='#565656')
              p Skype / Whatsapp / Viber
            li
              svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M4 8V24H28V8H4ZM26.5 22.6667H5.5V16H26.5V22.6667ZM26.5 12H5.5V9.33333H26.5V12Z' fill='#565656')
                path(d='M19.001 19.7778H23.501V21.1852H19.001V19.7778Z' fill='#565656')
                path(d='M7 19.7778H16V21.1852H7V19.7778Z' fill='#565656')
              p Банковская карта / Paypal
        .services__block_frame
        .services__block_price
          h3 35 000 рублей
        .services__block_button
          button(data-popup-open="Совместный шопинг").button Записаться
