.main-top-info__content
    .main-top-info__content_left
        .main-top-info__content_left-img
            img(src="./assets/images/webp/main-top-info.webp" alt="Персональный стилист image")

    .main-top-info__content_right
        .main-top-info__content_right-title
            h2 Персональный стилист
        .main-top-info__content_right-name 
            p Оля Грабовская
        .main-top-info__content_right-description
            p Составлю ваш образ <br>в любой точке мира
        .main-top-info__content_right-button 
            button.button Обсудить образ