.main-about__content
    .main-about__content_left
        .main-about__content_left-img 
            img(src="./assets/images/webp/main-about.webp" alt="Персональный стилист ОЛЯ ГРАБОВСКАЯ image")
    .main-about__content_right
        .main-about__content_right-title
            h3 ОЛЯ ГРАБОВСКАЯ
        .main-about__content_right-subtitle 
            p Fashion influencer | Image consultant
        .main-about__content_right-description 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.