.main-examples__content
  .main-examples__content_info
    .main-examples__content_info-title 
      h3 Образы. Примеры работ
    .main-examples__content_info-description 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .main-examples__content_info-button 
      button.button Примеры образов

  .main-examples__content_images 
    .main-examples__content_images-image
      img(src="./assets/images/webp/main-examples-1.webp" alt="ОЛЯ ГРАБОВСКАЯ примеры работ image")
    .main-examples__content_images-image
      img(src="./assets/images/webp/main-examples-2.webp" alt="ОЛЯ ГРАБОВСКАЯ примеры работ image")
    .main-examples__content_images-image
      img(src="./assets/images/webp/main-examples-3.webp" alt="ОЛЯ ГРАБОВСКАЯ примеры работ image")
